<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">
    <!-- EmployeeMapper.xml -->
    <insert id="save" parameterType="com.sky.dto.EmployeeDTO">
        INSERT INTO users (
        <if test="id != null">id,</if>
        <if test="idNumber != null">idNumber,</if>
        <if test="name != null">name</if>
        <if test="phone != null">phone,</if>
        <if test="sex != null">sex,</if>
        <if test="username != null">username</if>
        ) VALUES (
        <if test="id != null">#{id},</if>
        <if test="idNumber != null">#{idNumber},</if>
        <if test="name != null">#{name}</if>
        <if test="phone != null">#{phone},</if>
        <if test="sex != null">#{sex},</if>
        <if test="username != null">#{username}</if>
        )
    </insert>
</mapper>
